@using SneakerShop.Utility;
@model OrderVM

<form method="post">
    <br />
    <input asp-for="OrderHeader.Id" hidden />
    <div class="container">
        <div class="card">
            <div class="card-header bg-black text-light ml-0">
                <div class="container row">
                    <div class="col-12 d-none d-md-block col-md-6 pb-1 " style="font-size:16px;">
                        Підсумок Замовлення:  <i class="bi bi-box-seam"></i>
                    </div>
                    <div class="col-12 col-md-4 offset-md-2 text-right">
                        <a asp-action="Index" class="btn btn-outline-danger form-control btn-sm">Назад до замовлення</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-primary">Детальна інформація:</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Name</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_Admin))
                                    {
                                        <input asp-for="OrderHeader.Name" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.Name" readonly class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Phone</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_Admin))
                                    {
                                        <input asp-for="OrderHeader.PhoneNumber" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.PhoneNumber" readonly class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Address</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_Admin))
                                    {
                                        <input asp-for="OrderHeader.StreetAddress" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.StreetAddress" readonly class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">City</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_Admin))
                                    {
                                        <input asp-for="OrderHeader.City" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.City" readonly class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Zip Code</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_Admin))
                                    {
                                        <input asp-for="OrderHeader.PostalCode" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.PostalCode" readonly class="form-control" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Email</div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.ApplicationUser.Email" readonly class="form-control" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Order Date</div>
                                <div class="col-9">
                                    <input asp-for="@Model.OrderHeader.OrderDate" readonly class="form-control" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Carrier</div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.Carrier" type="text" id="carrier" class="form-control" />
                                    <span asp-validation-for="OrderHeader.Carrier" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Tracking</div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.TrackingNumber" readonly type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Shipping Date</div>
                                <div class="col-9">
                                    <input asp-for="@Model.OrderHeader.ShippingDate" type="text" readonly class="form-control" />
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col-3">Session ID</div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.SessionId" type="text" readonly class="form-control" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Payment Intent ID</div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.PaymentIntentId" type="text" readonly class="form-control" />
                                </div>
                            </div>

                            <div class="row my-1">

                                <div class="col-3">Payment Date</div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.PaymentDate" readonly type="text" class="form-control" />
                                </div>

                            </div>
                            <div class="row my-1">
                                <div class="col-3">Payment Status</div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.PaymentStatus" type="text" readonly class="form-control" />
                                </div>
                            </div>
                            @if (User.IsInRole(SD.Role_Admin))
                            {
                                @if (Model.OrderHeader.OrderStatus == SD.StatusShipped ||
                               Model.OrderHeader.OrderStatus == SD.StatusInProcess ||
                               Model.OrderHeader.OrderStatus == SD.StatusCancelled)
                                {

                                }
                                else
                                {                                    
                                  <button type="submit" asp-action="UpdateOrderDetail" class="btn btn-warning form-floating my-1">Оновити данні</button>                                                                
                                }
                               
                            }
                            else
                            {

                            }
                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-primary">Підсумок Замовлення</span>
                            </h4>

                            <label class="btn btn-primary form-control my-2">Статус замовлення - @Model.OrderHeader.OrderStatus</label>

                            <ul class="list-group mb-3">
                                @foreach (var item in Model.OrderDetails)
                                {
                                    <li class="list-group-item d-flex justify-content-between p-2">
                                        <div class="row container">
                                            <div class="col-8">

                                                <h6 class="my-0 text-primary">@item.Product.Name @item.Product.Model</h6>
                                                <small class="text-black">@item.Price.ToString("c")</small><br />
                                                <small class="text-black">@item.Count</small>
                                            </div>
                                            <div class="col-4 text-end">
                                                <p class="text-black">@((item.Price * item.Count).ToString("c"))</p>
                                            </div>
                                        </div>
                                    </li>
                                }

                                <li class="list-group-item bg-primary">
                                    <div class="row container">
                                        <div class="col-6">
                                            <h5 class="text-white">В суммі</h5>
                                        </div>
                                        <div class="col-6 text-end">
                                            <h5 class="text-white">@Model.OrderHeader.OrderTotal.ToString("c")</h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            @if (User.IsInRole(SD.Role_Admin))
                            {
                                @if (Model.OrderHeader.OrderStatus == SD.StatusApproved)
                                {
                                    <button type="submit" asp-action="StartProccessing" class="btn btn-primary form-control my-1">Підтвердження замовлення</button>
                                }
                                @if (Model.OrderHeader.OrderStatus == SD.StatusPending)
                                {
                                    <button type="submit" onclick="return validateInput()" asp-action="ShipOrder" class="btn btn-primary form-control my-1">Відправити</button>
                                }
                                @if (Model.OrderHeader.OrderStatus != SD.StatusRefunded &&
                               Model.OrderHeader.OrderStatus != SD.StatusCancelled &&
                               Model.OrderHeader.OrderStatus != SD.StatusShipped)
                                {
                                    <button type="submit" asp-action="CancelOrder" class="btn btn-danger form-control my-1">Скасувати замовлення</button>

                                }

                                @if (Model.OrderHeader.OrderStatus == SD.StatusCancelled)
                                {
                                    <h2 class="text-danger">Замовлення скасованно!</h2>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script>
        function validateInput() {
            if (document.getElementById("carrier").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter carrier',
                })
                return false;
            }
            return true;
        }
    </script>
}